<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Autor</title>
</head>
<body>
    <div style="margin-left: 20px;">
        {% if detallesAutor %} 
            <span><h2>Autor:</h2></span>
            <ul>
                <li>Nombre: {{detallesAutor.nombre}}</li>
                <li>Apellidos: {{detallesAutor.apellidos}}</li>
                <li>Email: {{detallesAutor.email}}</li>
                <li>Ultimo Acceso: {{detallesAutor.ultimo_acceso}}</li>
            </ul>
        {% else %} 
            <span>No hay autor</span>
        {% endif %} 
        <span style="color: brown;"><a href="{% url 'lista-editores' %}">Lista editores</a></span>
        
    </div>
    
    
</body>
</html>