<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de editores</title>
</head>
<body>
    <hgroup style="margin-left: 20px;background-color: bisque;">
        <span style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            <h2>Este es nuestro listado de editores:</h2>
        </span>
        <p>{{lista_objetos}}</p>
    
    </hgroup>
    <div>
        <footer>Proyecto django.biblioteca</footer>
    </div>
</body>
</html>