<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <span>Estas buscando: <strong>{{query}}</strong></span>
    <div>
        {% if libros %} 
            <span>Libros encongrados:{{libros|length}}libro{{libros|pluralize}}</span>
            <ul>
                {% for libros in libros %}
                    <li>{{libros.titulo}}</li>
                {% endfor %}
            </ul>
        {% else %}
            <span>Ningún libro coincide con el criterio de búsqueda</span>
        {% endif %}
    </div>
    
</body>
</html>