<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muestra plantilla 1</title>
</head>
<body>
    <div style="margin: 10px 20px;background: -moz-linear-gradient();">
        <hgroup style="color: blueviolet;">
            <h1 style="margin-bottom: 15px;">{{mensaje}}</h1>
            <h2>{{aplicacion}}</h2>
            <h2>{{usuario}}</h2>
            <h2>{{direccion_ip}}</h2>
        </hgroup>
    </div>
    
</body>
</html>