<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensaje enviado</title>
</head>
<body>
    <div>
    <hgroup>
        <span><h1 style="font-size:x-large;font-family: Arial, Helvetica, sans-serif;">Tu mensaje fue enviado con exito</h1></span>
    </hgroup>
    </div>
    <footer style="margin: 0%;position: relative;font-family:fantasy">Django project</footer>
</body>
</html>